@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Abel');


/*
Typography
 */


p, a, .index {
  font-family: 'Inconsolata', monospace !important;
}

h2 {
  font-size: 30px !important;
  font-family: 'Abel', sans-serif !important;
}

h1 {
  font-size: 60px !important;
  text-decoration: underline;
  font-family: 'Inconsolata', monospace !important;
  font-weight: bold !important;
}

#main p {
  font-size: 15px !important;
}


/*
Nav
 */


 .active {
   color: #f1f1f1 !important;
 }

 .open-nav {
   cursor: pointer;
   font-size: 40px;
   transition: 0.5s;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -o-transition: 0.5s;
 }

 .close-nav {
   font-size: 55px !important;
 }

 #sidenav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #111;
     overflow-x: hidden;
     transition: 0.5s;
     -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
     -o-transition: 0.5s;
     padding-top: 60px;
 }

 #sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: #818181;
     display: block;
     transition: 0.1s;
     -webkit-transition: 0.1s;
     -moz-transition: 0.1s;
     -o-transition: 0.1s;
 }

 #sidenav a:hover {
     color: #f1f1f1;
 }

 #sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
 }

 #main {
     transition: margin-left .5s;
     padding: 16px;
     padding-top:0;
 }

 @media screen and (max-height: 450px) {
   #sidenav {padding-top: 15px;}
   #sidenav a {font-size: 18px;}
 }


/*
Chain
 */


.block {
  display: inline-block;
  padding: 10px;
  margin-right: 50px;
  margin-top: 50px;
  width: 215px;
  height: 215px;
  border: solid 5px black;
  box-shadow: 5px -5px rgba(0, 0, 0, 0.3);
}

.block .index {
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-left: -15px;
  margin-top: -15px;
  margin-bottom: 15px;
  padding: 4px;
  padding-left: 10px;
  padding-bottom: 27px;
  width: 215px;
  height: 35px;
  border: solid 5px black;
}

.previous_hash {
  overflow: hidden;
  text-overflow: ellipsis;
}


/*
Assets
 */


.pickaxe img {
  width: 40px;
  padding: 8px 8px 8px 0;
  margin-left: 2px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  opacity: 0.5;
}

.pickaxe:hover img {
  transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  opacity: 1;
}

.message {
  display: block;
}
