<html>

  <head>

    <title>About</title>

    <!--- Meta --->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--- CSS --->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--- JS --->
    <script src="{{ url_for('static',filename='js/nav.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>

    <div id="sidenav">
      <a href="javascript:void(0)" class="close-nav" onclick="closeNav()">&times;</a>
      <a href="/">Home</a>
      <a class="active" href="/about">About</a>
      <a href="/chain">Chain</a>
      <a href="/mine">Mine</a>
    </div>

    <div id="main">
      <span class="open-nav" onclick="openNav()">&#9776;</span>
      <div class="container">
        <h1>About</h1>
      </div>
    </div>

  </body>

</html>
