<html>

  <head>

    <title>About</title>

    <!--- Meta --->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--- CSS --->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--- JS --->
    <script src="{{ url_for('static',filename='js/nav.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>

    <div id="sidenav">
      <a href="javascript:void(0)" class="close-nav" onclick="closeNav()">&times;</a>
      <a href="/" onclick="closeNav()">Home</a>
      <a href="/about" onclick="closeNav()" class="active">About</a>
      <a href="/chain" onclick="closeNav()">Chain</a>
      <a href="/mine" class="pickaxe"><img src="{{ url_for('static',filename='images/pickaxe.png') }}"/></a>
    </div>

    <div id="main">
      <span class="open-nav" onclick="openNav()">&#9776;</span>
      <div class="container">
        <h1>About</h1>
        <h2>Est. 2017</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>

  </body>

</html>
