<html>

  <head>

    <title>Chain</title>

    <!--- Meta --->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--- CSS --->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--- JS --->
    <script src="{{ url_for('static',filename='js/nav.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>

    <div id="sidenav">
      <a href="javascript:void(0)" class="close-nav" onclick="closeNav()">&times;</a>
      <a href="/" onclick="closeNav()">Home</a>
      <a href="/about" onclick="closeNav()">About</a>
      <a href="/chain" onclick="closeNav()" class="active">Chain</a>
      <a href="/mine" class="pickaxe"><img src="{{ url_for('static',filename='images/pickaxe.png') }}"/></a>
    </div>

    <div id="main">
      <span class="open-nav" onclick="openNav()">&#9776;</span>
      <div class="container">
        <h1>Chain</h1>
        <h2 class="length"></h2>

        <div class="chain">
          <!---
          <div class="block">
            <div class="index">1</div>
            <p class="timestamp">Timestamp<br></p>
            <p class="transactions">Transactions<br></p>
            <p class="previous_hash">Previous Hash<br></p>
          </div>
          --->
        </div>
      </div>
    </div>

  </body>

  <script>

    //data in json format
    var response = {{ data|tojson }};

    //number of blocks
    var length = response['length'];
    $('.length').append("Number of blocks: " + length);

    //for every block in the received chain
    for (var item of response.chain) {
      var blockText = '';
      blockText += '<div class="block">';
      blockText += `<div class="index">${item.index}</div>`;
      blockText += `<p class="timestamp"><b>Timestamp</b><br>${item.timestamp}</p>`;
      blockText += `<p class="transactions"><b>Transactions</b><br>${item.transactions.length}</p>`;
      blockText += `<p class="previous_hash"><b>Previous Hash</b><br>${item.previous_hash}</p>`;
      blockText += '</div>';
      $('.chain').append(blockText);
    }

  </script>

</html>
