<html>

  <head>

    <title>Home</title>

    <!--- Meta --->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--- CSS --->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--- JS --->
    <script src="{{ url_for('static',filename='js/nav.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>

    <div id="sidenav">
      <a href="javascript:void(0)" class="close-nav" onclick="closeNav()">&times;</a>
      <a href="/" onclick="closeNav()" class="active">Home</a>
      <a href="/about" onclick="closeNav()">About</a>
      <a href="/chain" onclick="closeNav()">Chain</a>
      <a href="/mine" class="pickaxe"><img src="{{ url_for('static',filename='images/pickaxe.png') }}"/></a>
    </div>

    <div id="main">
      <span class="open-nav" onclick="openNav()">&#9776;</span>
      <div class="container">
        <h1>Home</h1>
        <h2>Welcome to LoremChain</h2>
        <div class="chain">
          <div class="block">
            <div class="index">What is LoremChain?</div>
            <p>LoremChain is a decentralized, peer-to-peer digital transaction network based on
            the same Blockchain Technology as Bitcoin and Ethereum.</p>
          </div>
          <div class="block">
            <div class="index">Blockchain Technology?</div>
            <p>A Blockchain is a list of blocks, where each block contains some data and a unique
              link to the previous block in the chain.<br><br></p>
          </div>
          <div class="block">
            <div class="index">What does that mean?</div>
            <p>Once a block is added to the chain, it is linked with the previous chain in such
            a way that if block data is then changed, the link breaks.</p>
          </div>
          <div class="block">
            <div class="index">What good is that?</div>
            <p>Since trying to change data on the chain will break the links, once data is in a
              block it can't be changed without alerting the network.<br><br></p>
          </div>
        </div>
      </div>
    </div>



  </body>

</html>
